@import 'app/variables';
@import 'app/base/module';
@import 'utilities/mixins/module';

.help-center-widget-go-back {
    font-size: 15px;
    color: $color-cerulean;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding: 5px 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
    i {
        font-size: 16px;
        display: inline-block;
        position: relative;
        top: -1px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.widget-help-center-post {
    h2 {
        margin-bottom: 10px;
    }
    // a {
    //     color: $color-cerulean;
    //     text-decoration: none;
    // }
    // p {
    //     margin-top: 100px;
    // }

    // img {
    //     min-width: 100%;
    // }

    // ul {
    //     list-style-position: inside;
    //     padding: 0;
    //     margin: 0;
    // }
}
