<ul class="help-center-category-list">
  <li
    class="help-center-category-list-item align-middle"
    *ngFor="let item of state.items"
    (click)="refine($event, item)"
  >
    {{item.label | stripRootCategories}}
    <!-- <ng-ais-highlight attribute="highlighted" [hit]="item"></ng-ais-highlight> -->
        <!-- <label >
          <input
            type="checkbox"
            value="{{item.value}}"
            [checked]="item.isRefined"
          />
          <span >
            <ng-ais-highlight attribute="highlighted" [hit]="item"></ng-ais-highlight>
          </span>
          <span >{{item.count}}</span>
        </label> -->
  </li>
</ul>